In [5]:
#Import dependencies

import json
import pandas as pd
import numpy as np

In [12]:
#Import the wiki data file ( combined with the kaggle data, this is the extracting step)

file_dir = 'C://Users/Kanav/documents/development/bootcamp/Movies-ETL'

In [13]:
f'{file_dir}filename'

'C://Users/Kanav/documents/development/bootcamp/Movies-ETLfilename'

In [14]:
#Load the json file using the file_dir function and using this with statement

with open(f'{file_dir}/wikipedia-movies.json', mode='r') as file:
    wiki_movies_raw = json.load(file)

In [15]:
# Add the json file full of movies to a list (List of dicts)

len(wiki_movies_raw)

7311

In [16]:
wiki_movies_raw[998:999]

[{'url': 'https://en.wikipedia.org/wiki/Getting_Even_with_Dad',
  'year': 1994,
  'imdb_link': 'https://www.imdb.com/title/tt0109891/',
  'title': 'Getting Even with Dad',
  'Directed by': 'Howard Deutch',
  'Produced by': 'Katie Jacobs',
  'Written by': ['Tom S. Parker', 'Jim Jennewein'],
  'Starring': ['Macaulay Culkin',
   'Ted Danson',
   'Glenne Headly',
   'Saul Rubinek',
   'Gailard Sartain',
   'Hector Elizondo'],
  'Music by': 'Miles Goodman',
  'Cinematography': 'Tim Suhrstedt',
  'Edited by': 'Richard Halsey',
  'Distributed by': 'Metro-Goldwyn-Mayer',
  'Release date': ['June 17, 1994', '(', '1994-06-17', ')'],
  'Running time': '104 minutes',
  'Language': 'English',
  'Budget': '$30 million',
  'Box office': '$18,869,594'}]

In [18]:
#Extract two movies csv files from kaggle, which have been manually moved from downloads to movies-etl
kaggle_metadata = pd.read_csv(f'{file_dir}/movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}/ratings.csv')

In [20]:
kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
44382,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}]",NaN,458808,tt3792994,de,Nice Places to Die,NaN,...,2015-06-04,0.0,NaN,[],Released,NaN,Nice Places to Die,False,0.0,0.0
22851,False,"{'id': 430186, 'name': 'Bring It On Collection...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.bringitonmovie.com,21474,tt1349482,en,Bring It On: Fight to the Finish,Christina Milian stars as sassy cheer captain ...,...,2009-07-31,0.0,102.0,"[{'iso_639_1': 'es', 'name': 'Español'}, {'iso...",Released,NaN,Bring It On: Fight to the Finish,False,6.0,108.0
21960,False,NaN,0,[],NaN,128129,tt1937419,en,London: The Modern Babylon,Director Julien Temple (The Great Rock 'n' Rol...,...,2012-08-03,0.0,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,London: The Modern Babylon,False,7.2,5.0
19332,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,1556,tt0064068,ja,薔薇の葬列,A feverish collision of avant-garde aesthetics...,...,1969-01-01,0.0,104.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,The trials and tribulations of Eddie and other...,Funeral Parade of Roses,False,7.1,21.0
30138,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 10751, ...",NaN,69921,tt0277663,fr,Dazzle,A fairy takes on human form and enters the lif...,...,1999-10-10,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,You'll Be Spellbound...,Dazzle,False,5.0,1.0

In [21]:
ratings.sample(n=5)

          userId  movieId  rating   timestamp
22030162  228754    96821     4.0  1451250970
912246      9309     1127     4.5  1146251979
21171826  220001     4232     4.0  1038167818
830367      8534     3981     2.0  1013648299
23169586  240470    33817     3.0  1372553540